* {
    padding: 0;
    margin: 0;
    
}

    #sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        background: #57626F;
        left: -254px;
        border-right: 4px solid #E0E5EA;
        -moz-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms;
    }
    #sidebar.active {
        left: 0px;
    }
    #sidebar .toggle-btn {
        position: absolute;
        left: 270px;
        top: 20px;
        background: #e0e5ea;
        padding: 10px;
        transition: background-color 0.5s linear;
        border-radius: 12px;
        cursor: pointer;
    }
   .toggle-btn.active {
    display: block;
    }

    #sidebar ul li:first-child {
        text-align: center;
        color: white;
        font-size: 1.95em;
        list-style: none;
        padding: 25px 10px 10px 10px;    
    }
    #sidebar ul li:not(first-child) {
        width: 90%;
        margin-left: 10%;
        font-size: 1.1em;
        list-style: none;
        padding: 15px 10px;    
    }
    #sidebar ul li a {
        color: #dfe5eb;
        text-decoration: none;
    }
  
    #sidebar .toggle-btn:hover {
        background: #556270;
    }
    #sidebar .toggle-btn:hover span {
        background: #fafafa;
    }
    #sidebar .toggle-btn span {
        display: block;
        width: 25px;
        height: 4px;
        background-color: #666;
        margin: 4px 0;
    }
